/*layout kesken*/
body {
  background: url("./back.jpeg");
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: center right;
}

li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  justify-content: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  font-size: 18px;
  background-color: rgb(233, 232, 232);
  padding: 10px;
  margin: 10px;
  margin-left: 290px;
  margin-right: 290px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: cursive;
}

.lang,
.sort,
.random {
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.lang,
.sort,
.random {
  background-color: rgb(230, 230, 230);
  color: black;
  border: 2px solid rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.random:hover,
.lang:hover,
.sort:hover {
  background-color: #555555;
  color: white;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
}
img,
header {
  height: 240px;
  text-align: center;
}
